#navbar {
    background-color: #232931;
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    position: sticky;
    height: auto;
    top: 0
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0
}

#navbar ul li {
    list-style: none;
    padding: 10px 20px
}

#navbar ul li a {
    text-decoration: none;
    color: white 
}

#navbar ul #item a:hover {
    text-decoration: underline;
    color: #bbb
}

#current {
    background-color: #393e46;
    color: white
}

#footer {
    background-color: #232931;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0
}

#footer i {
    color: white;
    padding: 5px;
    float: left
}

#copy {
    font-size: 17px;
    color: white;
    padding: 5px;
    float: right
}

@media only screen and (max-width: 1000px) {
    #footer * {
        font-size: 10px
    }

    #navbar * {
        height: auto
    }
}